*{
	font-size: 11px;
	font-family: "sans-serif";
}

#mainTitle {
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
}

QGroupBox {
	background: white;
}

#lineEdit {
	border: 1px solid rgb(51, 85, 41); 
	font-size: 11px;
	border-radius: 3px;
	background: white;	
}

#lineEdit:hover {
	border: 1px solid rgb(164, 193, 156);
}

#bottomWidget {
	background: rgb(248, 251, 247);
}

CTableView {
	border: 1px solid rgb(51, 85, 41);
	font-size: 11px;
}

#wavePreview {
	border: 1px solid rgb(51, 85, 41);
}

#panelBtn {
	background: transparent;
	color: rgb(164, 193, 156);
	font-size: 12px;
	font-family: "sans-serif";
	border-radius: 3px;
	border: 1px solid rgb(51, 85, 41); 
}

#panelBtn:hover {
	background: rgb(90, 167, 45);
	color: white;
}

#panelBtn:disabled {
	background: rgb(243, 250, 245);
}

#panelBtn:pressed {
	background: rgb(167, 211, 167);
	color: white;
}

#dispatchBtn {
	font-size: 12px;
	color: red;
	background: white;
	border: 1px solid rgb(250, 44, 20);
	border-radius: 3px;
}

#dispatchBtn:hover{
	background: rgb(250, 44, 20);
	color: white;
}

#dispatchBtn:disabled {
	background: rbg(253, 157, 140);
}

#dispatchBtn:pressed {
	background: rgb(200, 44, 90);
	color: white;
}

#dispatchNote {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

#status {
	font-size: 14px;
	color: green;
}

#solutionName {
	font-size: 18px;
	font-weight: bold;
	color: rgb(102, 176, 54);
	
}

QTextEdit {
	border: 1px solid rgb(51, 85, 41);
	border-radius: 3px;
	font-size: 11px;
}

QTextEdit:hover {
	border: 1px solid rgb(164, 193, 156);
}

QComboBox {
	border: 1px solid rgb(51, 85, 41);
	background: transparent;
	border-radius: 3px;
	height: 25px;
}

QComboBox QAbstractItemView::item {
	height: 30px;
	font-size: 12px;
}

QComboBox::down-arrow {
	image: url(:/pics/down-arrow);
}

QComboBox::drop-down {
	width: 20px;
	border: none;
}

QHeaderView::section {

	color: green;
	padding-left: 4px;
	border: none;
	min-height: 25px;
}

QScrollBar:horizontal {
	background: transparent;
	height: 7px;
}

QScrollBar::handle:horizontal {
	background: rgb(43,122,193);
	border-radius: 2px;
}

QScrollBar::add-line:horizontal {
	border: nonde;
	background: transparent;
}

QScrollBar::sub-line:horizontal {
	border: none;
	background: transparent;
}

QScrollBar:vertical {
	background: transparent;
	width: 7px;
}

QScrollBar::handle:vertical {
	background: rgb(43, 122, 193);
	border-radius: 2px;
}

QScrollBar::add-line:vertical {
	border: none;
	background: transparent;
}

QScrollBar::sub-line:vertical {
	border: none;
	background: transparent;
}

QScrollBar::add-page:horizontal, QScrollBar::add-page:vertical {
	border: none;
	background: transparent;
}

QScrollBar::sub-page:horizontal, QScrollBar::sub-page:vertical {
	border: none;
	background: transparent;
}

QToolTip {
	background: white;
	border: 1px solid gray;
	color: black;
}

QProgressBar:horizontal {
	border: 1px solid gray;
	border-radius: 3px;
	background: white;
	padding: 1px;
	text-align: center;
}
QProgressBar::chunk:horizontal {
	background: qlineargradient(x1: 0, y1: 0.5, x2: 1, y2: 0.5, stop: 0 green, stop: 1 white);
}

QMenu{
    background:white;
	border:1px solid lightgray;
	font-size: 11px;
}

QMenu::item{
	padding:0px 20px 0px 20px;
	height:25px;
}

QMenu::item:selected:enabled{
    background: #86BA10;
	color:white;
}

QMenu::separator{
    height:1px;
    background: lightgray;
	margin:0px 0px 0px 0px;
}

QMenu::item:selected:!enabled{
    background:transparent;
}

#manualEdit {
	background: white;
	border: 1px solid green;
}

#spinBox {
	border: 1px solid rgb(51, 85, 41); 
	border-radius: 3px;
	background: white;
}

#spinBox:disabled {
	background: rgb(241, 253, 245);
}

#voltageValueLabel {
	color: green;
	font-weight: bold;
	margin-left: 10px;
}

QTabWidget::pane{
	border:none;
}

QTabBar::tab{
	border: 1px solid rgb(41, 119, 191);
	background: white;
	min-width:65px;
	min-height:25px;
	padding: 0px;
	font-size: 11px;
}

QTabBar::tab:selected{
	background: rgb(41, 119, 191);
	color: white;
}

#greenText {
	color: green;
	font-weight: bold;
	font-size: 11px;
}

#loginBtn {
	background: rgb(9, 163, 220);
	color: white;
	font-size: 11px;
	font-family: "ËÎÌו", "sans-serif";
	border-radius: 3px;
	border: 1px solid rgb(9, 163, 220); 
}

#loginBtn:hover {
	background: rgb(60, 197, 245);
	color: white;
}

#loginBtn:pressed {
	background: rgb(9, 140, 188);
	color: white;
}